<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Pádel</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="shortcut icon" href="../images/logo.png"> 
</head>

<body>
    <!--HEADER-->
    <header>
        <nav class="nav_bar">
            <div>
                <a href="../index.html">
                    <img alt="Logo" src="../images/logo.png" class="logo_header" width="190px" height="184px">
                </a>
                <h1>SOLO PÁDEL</h1>
            </div>
    
            <input type="checkbox" id="check_menu" class="check_menu">
    
            <ul class="nav_links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/contacto.html" class="active">Contacto</a></li>
            </ul>
    
            <label for="check_menu" class="label_check">
                <img alt="menu" src="../images/menu.svg" class="menu_hamburguesa">
            </label>
        </nav>
    </header>

    <!--CONTENIDO PRINCIPAL-->
    <main>
        <section class="contacto">
            <h2>Contacto</h2>
            <div class="contacto_content">
                <div class="contacto_mapa">
                    <img alt="Mapa ubicación de la empresa" src="../images/mapa_alicante.png" width="529px" height="410px">
                </div>
                <div class="contacto_datos">
                    <h3>Redes sociales</h3>
                    <div class="redes_sociales">
                        <img alt="Instagram" src="../images/instagram.png" width="225px" height="225px">
                        <img alt="Facebook" src="../images/facebook.png" width="225px" height="225px">
                        <img alt="X" src="../images/x.png" width="225px" height="225px">
                    </div>
                    <div class="info_contacto">
                        <h3>Datos de contacto</h3>
                        <p><span>Solo Pádel S.L.</span>
                            <br>
                            <br>
                            00000 - Alicante, España
                            <br>
                            <br>
                            +34 123456789
                            <br>
                            <br>
                            info@solopadel.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--FOOTER-->
    <footer>
        <p>&copy; 2024 Todos los derechos reservados</p>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
    </footer>
</body>

</html>