<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Pádel - Productos</title>
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../images/logo.png" </head>

<body>
    <!--HEADER-->
    <header>
        <div>
            <a href="../index.html">
                <img alt="Logo" src="../images/logo.png" class="logo_header">
            </a>
            <h1>SOLO PRODUCTOS</h1>
        </div>
        <div>
            <nav class="nav_links">
                <a href="./views/productos.html">Productos</a>
                <a href="./views/presupuesto.html">Presupuesto</a>
                <a href="./views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <!--CONTENIDO PRINCIPAL-->
    <main>
        <section class="tabla_productos">
            <h2>PRODUCTOS</h2>
            <h3>PALAS</h3>
            <!--TABLA DE PRODUCTOS-->
            <div class="tabla_productos_content">
                <div class="producto">
                    <img alt="Pala padel Adidas" src="../images/adidas.jpg">
                    <p>Precio: 220€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Nox" src="../images/nox.jpg">
                    <p>Precio: 220€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Head" src="../images/head.jpg">
                    <p>Precio: 220€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Bullpadel" src="../images/bullpadel.jpg">
                    <p>Precio: 200€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Wilson" src="../images/wilson.jpg">
                    <p>Precio: 180€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Star Vie" src="../images/star_vie.jpg">
                    <p>Precio: 150€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Dunlop" src="../images/dunlop.jpg">
                    <p>Precio: 100€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Babolat" src="../images/babolat.jpg">
                    <p>Precio: 280€</p>
                </div>
                <div class="producto">
                    <img alt="Pala padel Puma" src="../images/puma.jpg">
                    <p>Precio: 120€</p>
                </div>
            </div>
            <h3>PISTAS</h3>
            <div class="pistas">
                <img alt="Pista de pádel" src="../images/pistas_padel.jpg">
                <p>
                    Para conocer el precio de las pistas de pádel, por favor, ponte en contacto con nosotros.
                </p>
            </div>
        </section>
    </main>

    <!--FOOTER-->
    <footer>
        <p>&copy; 2024 Todos los derechos reservados</p>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
    </footer>
</body>

</html>